<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2016 Payssion All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <payssion_payment_affinepg_my>
                <active>0</active>
                <title>Affin Bank</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Affinepgmy</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MY</specificcountry>
            </payssion_payment_affinepg_my>
            <payssion_payment_alfaclick_ru>
                <active>0</active>
                <title>Alfaclick</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Alfaclickru</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>RU</specificcountry>
            </payssion_payment_alfaclick_ru>
            <payssion_payment_alfamart_id>
                <active>0</active>
                <title>Alfamart</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Alfamartid</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>ID</specificcountry>
            </payssion_payment_alfamart_id>
           <payssion_payment_alipay_cn>
                <active>0</active>
                <title>Alipay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Alipaycn</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>CN</specificcountry>
            </payssion_payment_alipay_cn>
            <payssion_payment_amb_my>
                <active>0</active>
                <title>AmOnline</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\AMBmy</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MY</specificcountry>
            </payssion_payment_amb_my>
            <payssion_payment_aptg_tw>
                <active>0</active>
                <title>APTG</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\APTGtw</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>TW</specificcountry>
            </payssion_payment_aptg_tw>
            <payssion_payment_atmva_id>
                <active>0</active>
                <title>ATMVA</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\ATMVAid</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>ID</specificcountry>
            </payssion_payment_atmva_id>
            <payssion_payment_banamex_mx>
                <active>0</active>
                <title>Banamex</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Banamexmx</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MX</specificcountry>
            </payssion_payment_banamex_mx>
            <payssion_payment_bancochile_cl>
                <active>0</active>
                <title>Banco de Chile</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Bancochilecl</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>CL</specificcountry>
            </payssion_payment_bancochile_cl>
            <payssion_payment_bancomer_mx>
                <active>0</active>
                <title>Bancomer</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Bancomermx</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MX</specificcountry>
            </payssion_payment_bancomer_mx>
            <payssion_payment_bancontact_be>
                <active>0</active>
                <title>Bancontact</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Bancontactbe</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>BE</specificcountry>
            </payssion_payment_bancontact_be>
            <payssion_payment_bankcard_ru>
                <active>0</active>
                <title>Bancard</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Bankcardru</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>AM,AZ,BY,KZ,KG,MD,RU,TJ,TM,UA,UZ</specificcountry>
            </payssion_payment_bankcard_ru>
            <payssion_payment_bitcash_jp>
                <active>0</active>
                <title>Bitcash</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Bitcashjp</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>JP</specificcountry>
            </payssion_payment_bitcash_jp>
            <payssion_payment_bitcoin>
                <active>0</active>
                <title>Bitcoin</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Bitcoin</model>
                <group>payssion_payment</group>
            </payssion_payment_bitcoin>
            <payssion_payment_boacompra>
                <active>0</active>
                <title>Boacompra</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Boacompra</model>
                <group>payssion_payment</group>
            </payssion_payment_boacompra>
            <payssion_payment_boleto_br>
                <active>0</active>
                <title>Boleto</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Boletobr</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
            </payssion_payment_boleto_br>
            <payssion_payment_caixa_br>
                <active>0</active>
                <title>Caixa</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Caixabr</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
            </payssion_payment_caixa_br>
            <payssion_payment_cashu>
                <active>0</active>
                <title>CashU</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\CashU</model>
                <group>payssion_payment</group>
            </payssion_payment_cashu>
            <payssion_payment_cherrycredits>
                <active>0</active>
                <title>Cherrycredits</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\CashU</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>PH,SG,MY,ID</specificcountry>
            </payssion_payment_cherrycredits>
            <payssion_payment_cht839_tw>
                <active>0</active>
                <title>CHT839</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\CHT839tw</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>TW</specificcountry>
            </payssion_payment_cht839_tw>
            <payssion_payment_cimb_my>
                <active>0</active>
                <title>CIMB Clicks</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\CIMBmy</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MY</specificcountry>
            </payssion_payment_cimb_my>
            <payssion_payment_creditcard_jp>
                <active>0</active>
                <title>Credit card</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Creditcardjp</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>JP</specificcountry>
            </payssion_payment_creditcard_jp>
            <payssion_payment_davivienda_co>
                <active>0</active>
                <title>Davivienda</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Daviviendaco</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>CO</specificcountry>
            </payssion_payment_davivienda_co>
            <payssion_payment_docomo_jp>
                <active>0</active>
                <title>Docomo</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Docomojp</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>JP</specificcountry>
            </payssion_payment_docomo_jp>
            <payssion_payment_doku_id>
                <active>0</active>
                <title>Doku</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Dokuid</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>ID</specificcountry>
            </payssion_payment_doku_id>
            <payssion_payment_dotpay_pl>
                <active>0</active>
                <title>Dotpay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Dotpaypl</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>PL</specificcountry>
            </payssion_payment_dotpay_pl>
            <payssion_payment_dragonpay_ph>
                <active>0</active>
                <title>Dragonpay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Dragonpayph</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>PH</specificcountry>
            </payssion_payment_dragonpay_ph>
            <payssion_payment_efecty_co>
                <active>0</active>
                <title>Effecty</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Efectyco</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>CO</specificcountry>
            </payssion_payment_efecty_co>
            <payssion_payment_enets_sg>
                <active>0</active>
                <title>eNets</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Enetssg</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>SG</specificcountry>
            </payssion_payment_enets_sg>
            <payssion_payment_eps_at>
                <active>0</active>
                <title>EPS</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\EPSat</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>AT</specificcountry>
            </payssion_payment_eps_at>
            <payssion_payment_fetnet_tw>
                <active>0</active>
                <title>Fetnet</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Fetnettw</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>TW</specificcountry>
            </payssion_payment_fetnet_tw>
            <payssion_payment_fpx_my>
                <active>0</active>
                <title>FPX</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\FPXmy</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MY</specificcountry>
            </payssion_payment_fpx_my>
            <payssion_payment_gash_tw>
                <active>0</active>
                <title>Gash</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Gashtw</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>TW</specificcountry>
            </payssion_payment_gash_tw>
            <payssion_payment_gcash_ph>
                <active>0</active>
                <title>Gcash</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Gcashph</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>PH</specificcountry>
            </payssion_payment_gcash_ph>
            <payssion_payment_giropay_de>
                <active>0</active>
                <title>Giropay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Giropayde</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
            </payssion_payment_giropay_de>
            <payssion_payment_hlb_my>
                <active>0</active>
                <title>Hong Leong Online</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\HLBmy</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MY</specificcountry>
            </payssion_payment_hlb_my>
            <payssion_payment_ideal_nl>
                <active>0</active>
                <title>iDeal</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\IDealnl</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
            </payssion_payment_ideal_nl>
            <payssion_payment_indosat_id>
                <active>0</active>
                <title>Indosat</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Indosatid</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>ID</specificcountry>
            </payssion_payment_indosat_id>
            <payssion_payment_itau_br>
                <active>0</active>
                <title>Itau</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Itaubr</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
            </payssion_payment_itau_br>
            <payssion_payment_m1_sg>
                <active>0</active>
                <title>M1</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\M1sg</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>SG</specificcountry>
            </payssion_payment_m1_sg>
            <payssion_payment_maybank2u_my>
                <active>0</active>
                <title>Maybank2u</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Maybank2umy</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MY</specificcountry>
            </payssion_payment_maybank2u_my>
            <payssion_payment_molpay>
                <active>0</active>
                <title>Molpay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Molpay</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MY,SG,PH,ID</specificcountry>
            </payssion_payment_molpay>
            <payssion_payment_molpoints>
                <active>0</active>
                <title>Molpoints</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Molpoints</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MY,TH,SG,PH</specificcountry>
            </payssion_payment_molpoints>
            <payssion_payment_multibanco_pt>
                <active>0</active>
                <title>Multibanco</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Multibancopt</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>PT</specificcountry>
            </payssion_payment_multibanco_pt>
            <payssion_payment_mybank>
                <active>0</active>
                <title>Mybank</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Mybank</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>ES,GR,IT</specificcountry>
            </payssion_payment_mybank>
            <payssion_payment_neosurf>
                <active>0</active>
                <title>Neosurf</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Neosurf</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>FR,GB,OR</specificcountry>
            </payssion_payment_neosurf>
            <payssion_payment_netcash_jp>
                <active>0</active>
                <title>Netcash</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Netcashjp</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>JP</specificcountry>
            </payssion_payment_netcash_jp>
            <payssion_payment_onecard>
                <active>0</active>
                <title>Onecard</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Onecard</model>
                <group>payssion_payment</group>
            </payssion_payment_onecard>
            <payssion_payment_otc_th>
                <active>0</active>
                <title>OTC</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\OTCth</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>TH</specificcountry>
            </payssion_payment_otc_th>
            <payssion_payment_oxxo_mx>
                <active>0</active>
                <title>OXXO</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\OXXOmx</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MX</specificcountry>
            </payssion_payment_oxxo_mx>
            <payssion_payment_p24_pl>
                <active>0</active>
                <title>P24</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\P24pl</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>PL</specificcountry>
            </payssion_payment_p24_pl>
            <payssion_payment_pagofacil_ar>
                <active>0</active>
                <title>Pagofacil</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Pagofacilar</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>AR</specificcountry>
            </payssion_payment_pagofacil_ar>
            <payssion_payment_paybybankapp_gb>
                <active>0</active>
                <title>Pay by Bank app</title>
                <order_status>pending_payment</order_status>
                <instructions>pay using your UK bank app on your phone</instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Paybybankappgb</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>GB</specificcountry>
            </payssion_payment_paybybankapp_gb>
            <payssion_payment_paysafecard>
                <active>0</active>
                <title>Paysafecard</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Paysafecard</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
            </payssion_payment_paysafecard>
            <payssion_payment_paysbuy_th>
                <active>0</active>
                <title>Paysbuy</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Paysbuyth</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>TH</specificcountry>
            </payssion_payment_paysbuy_th>
            <payssion_payment_poli_au>
                <active>0</active>
                <title>Australia Bank Transfer</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Poliau</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>AU</specificcountry>
            </payssion_payment_poli_au>
            <payssion_payment_poli_nz>
                <active>0</active>
                <title>New Zealand Bank Transfer</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Polinz</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>NZ</specificcountry>
            </payssion_payment_poli_nz>
            <payssion_payment_pse_co>
                <active>0</active>
                <title>PSE</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\PSEco</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>CO</specificcountry>
            </payssion_payment_pse_co>
            <payssion_payment_qiwi>
                <active>0</active>
                <title>QIWI</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\QIWI</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>AM,AZ,BY,KZ,KG,MD,RU,TJ,TM,UA,UZ</specificcountry>
            </payssion_payment_qiwi>
            <payssion_payment_rapipago_ar>
                <active>0</active>
                <title>Rapipago</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Rapipagoar</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>AR</specificcountry>
            </payssion_payment_rapipago_ar>
            <payssion_payment_redcompra_cl>
                <active>0</active>
                <title>Redcompra</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Redcompracl</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>CL</specificcountry>
            </payssion_payment_redcompra_cl>
            <payssion_payment_redpagos_uy>
                <active>0</active>
                <title>Redpagos</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Redpagosuy</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>UY</specificcountry>
            </payssion_payment_redpagos_uy>
            <payssion_payment_rhb_my>
                <active>0</active>
                <title>RHB Now</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\RHBmy</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>MY</specificcountry>
            </payssion_payment_rhb_my>
            <payssion_payment_santander_br>
                <active>0</active>
                <title>Santander</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Santanderbr</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
            </payssion_payment_santander_br>
            <payssion_payment_sberbank_ru>
                <active>0</active>
                <title>Sberbank</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Sberbankru</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>RU</specificcountry>
            </payssion_payment_sberbank_ru>
            <payssion_payment_singpost_sg>
                <active>0</active>
                <title>Singpost</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Singpostsg</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>SG</specificcountry>
            </payssion_payment_singpost_sg>
            <payssion_payment_singtel_sg>
                <active>0</active>
                <title>Singtel</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Singtelsg</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>SG</specificcountry>
            </payssion_payment_singtel_sg>
            <payssion_payment_smartsun_ph>
                <active>0</active>
                <title>Smartsun</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Smartsunph</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>PH</specificcountry>
            </payssion_payment_smartsun_ph>
            <payssion_payment_sofort>
                <active>0</active>
                <title>Sofort</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Sofort</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>AT,BE,DE,IT,NL,SK,ES,CH</specificcountry>
            </payssion_payment_sofort>
            <payssion_payment_starhub_sg>
                <active>0</active>
                <title>Starhub</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Starhubsg</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>SG</specificcountry>
            </payssion_payment_starhub_sg>
            <payssion_payment_telcovoucher_vn>
                <active>0</active>
                <title>Telco Voucher</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Telcovouchervn</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>VN</specificcountry>
            </payssion_payment_telcovoucher_vn>
            <payssion_payment_tenpay_cn>
                <active>0</active>
                <title>Tenpay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Tenpaycn</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>CN</specificcountry>
            </payssion_payment_tenpay_cn>
            <payssion_payment_tm_tw>
                <active>0</active>
                <title>TM</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\TMtw</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>TW</specificcountry>
            </payssion_payment_tm_tw>
            <payssion_payment_truemoney_th>
                <active>0</active>
                <title>Truemoney</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Truemoneyth</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>TH</specificcountry>
            </payssion_payment_truemoney_th>
            <payssion_payment_trustpay>
                <active>0</active>
                <title>Tenpay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Trustpay</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>SK,CZ,BE,BG,DK,DE,EE,IE,EL,ES,FR,HR,IT,CY,LV,LT,LU,HU,MT,NL,AT,PT,RO,SI,FI,SE</specificcountry>
            </payssion_payment_trustpay>
            <payssion_payment_unionpay_cn>
                <active>0</active>
                <title>Unionpay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Unionpaycn</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>CN</specificcountry>
            </payssion_payment_unionpay_cn>
            <payssion_payment_verkkopankki_fi>
                <active>0</active>
                <title>Verkkopankki</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Verkkopankkifi</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>FI</specificcountry>
            </payssion_payment_verkkopankki_fi>
            <payssion_payment_vtcpay_vn>
                <active>0</active>
                <title>VTCPay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\VTCPayvn</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>VN</specificcountry>
            </payssion_payment_vtcpay_vn>
            <payssion_payment_webmoney>
                <active>0</active>
                <title>Webmoney</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Webmoney</model>
                <group>payssion_payment</group>
            </payssion_payment_webmoney>
            <payssion_payment_webpay_cl>
                <active>0</active>
                <title>Webpay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Webpaycl</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>CL</specificcountry>
            </payssion_payment_webpay_cl>
            <payssion_payment_xl_id>
                <active>0</active>
                <title>XL</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\XLid</model>
                <group>payssion_payment</group>
            </payssion_payment_xl_id>
            <payssion_payment_yamoney>
                <active>0</active>
                <title>Yandex.Money</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Yamoney</model>
                <group>payssion_payment</group>
                <allowspecific>1</allowspecific>
                <specificcountry>AM,AZ,BY,KZ,KG,MD,RU,TJ,TM,UA,UZ</specificcountry>
            </payssion_payment_yamoney>
        </payment>
    </default>
</config>
