<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2016 Payssion All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
           <payssion_payment_alipay_cn>
                <active>0</active>
                <title>Alipay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Alipaycn</model>
                <group>payssion_payment</group>
            </payssion_payment_alipay_cn>
            <payssion_payment_atmva_id>
                <active>0</active>
                <title>ATMVA</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\ATMVAid</model>
                <group>payssion_payment</group>
            </payssion_payment_atmva_id>
            <payssion_payment_bitcoin>
                <active>0</active>
                <title>Bitcoin</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Bitcoin</model>
                <group>payssion_payment</group>
            </payssion_payment_bitcoin>
            <payssion_payment_boleto_br>
                <active>0</active>
                <title>Boleto</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Boletobr</model>
                <group>payssion_payment</group>
            </payssion_payment_boleto_br>
            <payssion_payment_cashu>
                <active>0</active>
                <title>CashU</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\CashU</model>
                <group>payssion_payment</group>
            </payssion_payment_cashu>
            <payssion_payment_enets_sg>
                <active>0</active>
                <title>eNets</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Enetssg</model>
                <group>payssion_payment</group>
            </payssion_payment_enets_sg>
            <payssion_payment_eps_at>
                <active>0</active>
                <title>EPS</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\EPSat</model>
                <group>payssion_payment</group>
            </payssion_payment_eps_at>
            <payssion_payment_fpx_my>
                <active>0</active>
                <title>FPX</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\FPXmy</model>
                <group>payssion_payment</group>
            </payssion_payment_fpx_my>
            <payssion_payment_giropay_de>
                <active>0</active>
                <title>Giropay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Giropayde</model>
                <group>payssion_payment</group>
            </payssion_payment_giropay_de>
            <payssion_payment_ideal_nl>
                <active>0</active>
                <title>iDeal</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\IDealnl</model>
                <group>payssion_payment</group>
            </payssion_payment_ideal_nl>
            <payssion_payment_maybank2u_my>
                <active>0</active>
                <title>Maybank2u</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Maybank2umy</model>
                <group>payssion_payment</group>
            </payssion_payment_maybank2u_my>
            <payssion_payment_cimb_my>
                <active>0</active>
                <title>CIMB Clicks</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\CIMBmy</model>
                <group>payssion_payment</group>
            </payssion_payment_cimb_my>
            <payssion_payment_hlb_my>
                <active>0</active>
                <title>Hong Leong Online</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\HLBmy</model>
                <group>payssion_payment</group>
            </payssion_payment_hlb_my>
            <payssion_payment_rhb_my>
                <active>0</active>
                <title>RHB Now</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\RHBmy</model>
                <group>payssion_payment</group>
            </payssion_payment_rhb_my>
            <payssion_payment_amb_my>
                <active>0</active>
                <title>AmOnline</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\AMBmy</model>
                <group>payssion_payment</group>
            </payssion_payment_amb_my>
            <payssion_payment_affinepg_my>
                <active>0</active>
                <title>Affin Bank</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Affinepgmy</model>
                <group>payssion_payment</group>
            </payssion_payment_affinepg_my>
            <payssion_payment_onecard>
                <active>0</active>
                <title>Onecard</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Onecard</model>
                <group>payssion_payment</group>
            </payssion_payment_onecard>
            <payssion_payment_bancontact_be>
                <active>0</active>
                <title>Bancontact</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Bancontactbe</model>
                <group>payssion_payment</group>
            </payssion_payment_bancontact_be>
            <payssion_payment_p24_pl>
                <active>0</active>
                <title>P24</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\P24pl</model>
                <group>payssion_payment</group>
            </payssion_payment_p24_pl>
            <payssion_payment_paysbuy_th>
                <active>0</active>
                <title>Paysbuy</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Paysbuyth</model>
                <group>payssion_payment</group>
            </payssion_payment_paysbuy_th>
            <payssion_payment_poli_au>
                <active>0</active>
                <title>Australia Bank Transfer</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Poliau</model>
                <group>payssion_payment</group>
            </payssion_payment_poli_au>
            <payssion_payment_poli_nz>
                <active>0</active>
                <title>New Zealand Bank Transfer</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Polinz</model>
                <group>payssion_payment</group>
            </payssion_payment_poli_nz>
            <payssion_payment_qiwi>
                <active>0</active>
                <title>QIWI</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\QIWI</model>
                <group>payssion_payment</group>
            </payssion_payment_qiwi>
            <payssion_payment_sberbank_ru>
                <active>0</active>
                <title>Sberbank</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Sberbankru</model>
                <group>payssion_payment</group>
            </payssion_payment_sberbank_ru>
            <payssion_payment_singpost_sg>
                <active>0</active>
                <title>Singpost</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Singpostsg</model>
                <group>payssion_payment</group>
            </payssion_payment_singpost_sg>
            <payssion_payment_sofort>
                <active>0</active>
                <title>Sofort</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Sofort</model>
                <group>payssion_payment</group>
            </payssion_payment_sofort>
            <payssion_payment_tenpay_cn>
                <active>0</active>
                <title>Tenpay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Tenpaycn</model>
                <group>payssion_payment</group>
            </payssion_payment_tenpay_cn>
            <payssion_payment_unionpay_cn>
                <active>0</active>
                <title>Unionpay</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Unionpaycn</model>
                <group>payssion_payment</group>
            </payssion_payment_unionpay_cn>
            <payssion_payment_webmoney>
                <active>0</active>
                <title>Webmoney</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Webmoney</model>
                <group>payssion_payment</group>
            </payssion_payment_webmoney>
            <payssion_payment_yamoney>
                <active>0</active>
                <title>Yandex.Money</title>
                <order_status>pending_payment</order_status>
                <instructions></instructions>
                <payment_action>order</payment_action>
                <model>Payssion\Payment\Model\Paymentmethod\Yamoney</model>
                <group>payssion_payment</group>
            </payssion_payment_yamoney>
        </payment>
    </default>
</config>
